.container {
    width:900px;
    height: 150px;
}

header {
    width:900px;
    float:left;
    background: pink;
    height: 50px;
}

.logo {
    float: left;
    padding: 15px
}

.menu {
    float: right;
    padding: 15px
}

.first-box {
    width:300px;
    float:left;
    background: green;
    height: 150px;
    margin: 50px
}

.first-box p {
    color: #ffffff;
    padding-left: 80px;
    padding-top: 50px;
}

.second-box {
    width:300px;
    height: 150px;
    float:right;
    background: blue;
    margin: 50px
}

.second-box p {
    color: #ffffff;
    padding-left: 110px;
    padding-top: 50px;
}

footer {
    width:900px;
    float:left;
    background: black;
    height: 50px;
    color: #ffffff;
}

footer div {
    padding: 15px;
}




